<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RandomColorGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03F34A941DBF4C180090869D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03F34AA81DBF4C190090869D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03F34AB31DBF4C190090869D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
